body {
	background-color: #2A4D69;
	margin-top: 0;
	background-image: url('bg.png');
	background-size: 500px;
	background-position: center center;
	background-repeat: repeat;
	color:#E0E0E0;
}
table{
	max-width: 99%;
}
h1 {
	color: #E0E0E0;
}

table,td{
	table-layout: fixed;
	border: 1px solid #E0E0E0;
	border-collapse: collapse;
}
td{
	padding: 10px;
  	text-align: left;
	background-color: #2A4D69;
}
th{
	padding: 8px 12px;;
	border: 1px solid #E0E0E0;
  	background-color: #0059ff;
  	color: #E0E0E0;
	border-collapse: collapse;
}

#table_container{
    padding: 8px 50%;  
}
select{
	background-color:#2A4D69;
	color:white;
	border: 1px solid white;
}
button{
	background-color:#2A4D69;
	padding: 10px;
	border:none;
}
#search{
	background-color:#2A4D69;
	border:none;
}
h3{
	color:white;
	display: inline-block;
	margin: 0;
	padding: 0;
	border: none;
}