body {
	background-color: #2A4D69;
	margin-top: 0;
	background-image: url('bg.png');
	background-size: 500px;
	background-position: center center;
	background-repeat: repeat;
	color:#E0E0E0;
}
a:link {
  	color: #E0E0E0;
}
table{ 
	border-collapse: collapse;
	width: 99%;
	table-layout: fixed;         
}
h1 {
	color: #E0E0E0;
}
tr{
	width: auto; 
}
td{
  	text-align: left;
	background-color: #2A4D69;
}
th{
	position: sticky;
  	background-color: #0059ff;
  	color: #E0E0E0;
}
td,th{
  	border: 1px solid #E0E0E0;
	padding: 8px;
	word-wrap: break-word;
	
}
#table_container{
	overflow: scroll;  
}


thead, tbody {
	
	display: table;
	width: 100%;
}
select{
	background-color:#2A4D69;
	color:white;
	border: 1px solid white;
}
button{
	background-color:#2A4D69;
	padding: 10px;
	border:none;
}
#search{
	background-color:#2A4D69;
	border:none;
}
h3{
	color:white;
	display: inline-block;
	margin: 0;
	padding: 0;
	border: none;
}