body {
	background-color: #13293D;
	margin-top: 0;
}
h1 {
	color: rgb(255, 255, 255);
    }
body{
	color:rgb(255, 255, 255);

} 
table{
	background-color: #006494
}
th{
	padding-right: 25px;  	
}
#table_container{
    padding: 8px 50%;  
}
tbody{
	background-color: #247BA0;;
}